{% for voucher in vouchers %}
<table style="width: 100%; page-break-inside: avoid">
    <tbody>
        <tr>
            <td align="top" style="background-color: #e6e7e9; display: flex; flex-direction: column; align-items: center; justify-content: space-between; padding: 20px 0">
               <h1 style="font-size: 50px;">GUTSCHEIN</h1>
                <div style="margin: 50px; width: 420px; height: 280px;  background: white; border-radius: 30px; box-shadow:10px 10px 10px 0px rgba(0,0,0,0.15); display: flex; align-items: center; justify-content: center">
                    <p style="color: #a79056; font-size: 100px">{{ voucher.value.price }} {{ currency }}</p>
                </div>
                <img src="https://www.shopware.com/media/unknown/97/41/bb/sw-logo-blue.svg" height="60px"/>
           </td>
            <td style="width: 300px; padding-left: 30px;">
               <strong>Einlöseadresse</strong>
               <p>{{ merchant.publicCompanyName }}<br>{{ merchant.country }}, {{ merchant.city }}<br>{{ merchant.street }}</p>
               <p>Telefon: {{ merchant.publicPhoneNumber }}<br>E-Mail: <a href="mailto:{{ merchant.publicEmail }}">{{ merchant.publicEmail }}</a><br>Web: <a href="{{ merchant.publicWebsite }}">{{ merchant.publicWebsite }}</a></p><br/>
               <strong>Ausgestellt auf</strong><p>{{ customerName }}</p><br/>
               <strong>Ausstellungsdatum</strong><p>{{ today }}</p><br/>
               <strong>Gutscheinnummer</strong><p>{{ voucher.code }}</p>
            </td>
       </tr>
   </tbody>
   </table>
{% endfor %}

<style>
    table {
        font-family: "Arial"; 
    }

    h1 {
        font-family: "Times New Roman";
         color: #3c3c3c;
    } 
    
    p {
        color: #3c3c3c; 
        font-size: 14px
    } 
    
    strong {
        color: #a79056;
        font-size: 18px
    } 
    
    a {
        color: #189eff;
        text-decoration: none
    }
</style>